  <!-- headline -->
  <div class="row headline">
    <div class="ten columns offset-by-one">
      <h2>Create a beautiful and professional resume in <span class="underline">minutes!</span></h2>
      <p class="subheading">Just fill in your details, choose a beautiful resume template and save your resume as a PDF.</p>
    </div><!--ten columns-->
  </div><!--row-->
  
  <section class="row featured">
    <div class="ten columns offset-by-one">
      <div id="featured">
            <%= image_tag "featured_interface.jpg", alt: "Easy to use interface" %>
            <%= image_tag "featured_templates.jpg", alt: "Elegant, professional and modern resume templates" %>  
            <%= image_tag "featured_share.jpg", alt: "Share your resume online or save it as PDF" %>
            <span class="orbit-caption" id="htmlCaption1">Easy to use interface</span>
            <span class="orbit-caption" id="htmlCaption2">Elegant, professional and modern resume templates</span>
            <span class="orbit-caption" id="htmlCaption3">Share your resume online or save it as PDF</span>
      </div>
    </div><!--ten-columns-->
  </section><!--featured-->
 
  <section class="row signup_box show-on-desktops">
     <div class="ten columns offset-by-one">
       <%= image_tag "monk.png", class: "three columns" %>
       <div class="box nine columns">
         <h3 class="get_started">Get started with your resume</h3>
         <%= form_for(@user, html: { class: "nice", id: "home_form" }) do |f| %>
           <%= render "shared/error_messages", object: f.object %>
               <%= f.text_field :email, class: "small input-text first", placeholder: "Your Email id" %>
               <%= f.password_field :password, class: "small input-text", placeholder: "Secret password" %>
               <%= f.password_field :password_confirmation, class: "small input-text", placeholder: "Enter password again" %>
               <%= f.submit "Signup", class: "button nice small radius" %> 

         <% end %>
       </div><!--box-->
     </div><!--ten-columns-->
   </section><!--how_it_works-->
  
  <section class="row how_it_works">
    <div class="ten columns offset-by-one content_box">
      <h3 class="how_it_works_heading">How it works</h3>
      <ul class="steps">
        <li class="four columns">
          <h3>Fill in details</h3>
          <%= image_tag "features_1.png", class:"show-on-desktops" %>
          <p>Fill in your details using our intuitive interface and have a professional, elegant and formatted resume ready in less than 5 minutes. Resumonk also lets you manage and edit multiple resumes.</p>
        </li>
        
        <li class="four columns">
          <h3>Choose a template</h3>
          <%= image_tag "features_2.png",  class:"show-on-desktops" %>
          <p>Choose from our collection of beatifully designed resume templates to create an innovative and unique resume that suits your individual personality. This ensures greater visibility by recruiters.</p>
        </li>
        
        <li class="four columns">
          <h3>Save and share</h3>
          <%= image_tag "features_3.png", class:"show-on-desktops" %>
          <p>Resumonk lets you save your resume as a PDF so that you can print it any time. Also, for each resume, you get a unique link to help that you can share with others via email, Facebook and Twitter.</p>
        </li>
      
    </div><!--ten-columns-->
  </section><!--how_it_works-->
  
  <script type="text/javascript">
       $(window).load(function() {
           $("#featured img").each(function(i, image) {
             $(this).attr("data-caption", ("#htmlCaption" + (i+1)));
           });
           
           $('#featured').orbit({
              directionalNav: false,
              bullets: true,	
              captions: true,
              pauseOnHover: false, 
              captionAnimation: 'fade', 
           });
       });
  </script>