<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "classica_pdf" %>

  </head>
  <body>
    <div id="container">
      <div class="container_inner">
      <div class="wrapper clearfix">
      <div id="about" class="clearfix">
        <h1><%= "#{@resume.firstname} #{@resume.lastname}" %></h1>
        <% unless @resume.experiences.first.designation.blank? %>
          <h2><%= @resume.experiences.first.designation %></h2>
        <% end %>
     </div><!--about-->
     
     <div class="row clearfix"> 
      <% unless @resume.objective.blank? %>
      <div class="objective">
       
            <p><%= @resume.objective %></p>
       
      </div><!--objective-->
          <% end %>
      
      <ul id="contact">
        <% unless @resume.phone.blank? %>
          <li><span>Mobile</span><strong><%= @resume.phone %></strong></li>
        <% end %>
        <li><span>Email</span><strong><a class="email" href='mailto:<%= "#{@resume.user.email}" %>'><%= @resume.user.email %></a></strong></li>
        <li><span>Address</span><strong><%= @resume.address %></strong></li>
        
        <% unless @resume.website.blank? %>
          <li><span>Website</span><strong><%= link_to @resume.website, @resume.website %></strong></li>
        <% end %>
        
        
        
      </ul><!--contact-->
      </div><!--clearfix-->
    </div><!--wrapper-->

      <div id="content">
        <div class="section">
            <div class="section_header">
              <span>Education</span>
            </div><!--section-header-->
          <% @resume.educations.each_with_index do |education, index| %>
            <div class="item">
              <h3><%= education.institute_name %></h3>
              <h4><%= education.degree %></h4>
              <div class="date"><%= education.start_date %> to <%= education.end_date %></div>
              <% unless education.description.blank? %>
                <div class="description">
                  <p><%= education.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>
      </div><!--section-->
  
      <div class="section">
        <div class="section_header">
          <span>Experience</span>
        </div><!--section-header-->
        
      <% @resume.experiences.each_with_index do |experience, index| %>
        <div class="item">
          <h3><%= experience.company_name %></h3>
          <h4><%= experience.designation %></h4>
          <div class="date"><%= experience.start_date %> to <%= experience.end_date %></div>
          <div class="description">
            <p><%= experience.job_description %></p>
          </div>
        </div>
      <% end %>
    </div><!--section-->
    
    
  </div><!--content-->
  
  <div class="sidebar">
     
      <% if @resume.skills.any? %>
        <div class="section skills">
            <div class="section_header">
              
              <span>Skills</span>
            </div><!--section-header-->
        <% @resume.skills.each do |skill| %>
           <div class="item">
              <h3 class="skill_header"><%= skill.skill %></h3>
                <% unless skill.description.blank? %>
                  <div class="description">
                    <h4><%= skill.description %></h4>
                  </div>
                <% end %>
            </div>
        <% end %>
      </div><!--skills-->
      <% end %>
    
    </div><!--sidebar-->
    </div><!--container_inner-->
    </div><!--container-->
      
  </body>
</html>