<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "sleek_pdf" %>
    
  </head>
  <body>
    <div id="container">
      
      <div id="about">
        <h1><%= "#{@resume.firstname} #{@resume.lastname}" %></h1>
        <% unless @resume.experiences.first.designation.blank? %>
          <h2><%= @resume.experiences.first.designation %></h2>
        <% end %>
      </div><!--about-->
      
      <ul id="contact">
        <% unless @resume.phone.blank? %>
          <li><span>Mobile</span> <%= @resume.phone %></li>
        <% end %>
        <li><span>Email</span><a class="email" href='mailto:<%= "#{@resume.user.email}" %>'><%= @resume.user.email %></a></li>
        <li><span>Address</span><%= @resume.address %></li>
        
        <% unless @resume.website.blank? %>
          <li><span>Website</span><%= link_to @resume.website, @resume.website %></li>
        <% end %>
        
        
        
      </ul><!--contact-->
    

      <div id="content">
        <div class="section">
            <div class="section_header">
              <%= wicked_pdf_image_tag 'pdf/dot.jpg', class:"dot" %>
              <span>Education</span>
            </div><!--section-header-->
          <% @resume.educations.each do |education| %>
            <div class="item">
              <h3><%= education.institute_name %></h3>
              <h4><%= education.degree %></h4>
              <div class="date"><%= education.start_date %> to <%= education.end_date %></div>
              <% unless education.description.blank? %>
                <div class="description">
                  <p><%= education.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>
      </div><!--section-->
  
      <div class="section">
        <div class="section_header">
          <%= wicked_pdf_image_tag 'pdf/dot.jpg', class:"dot" %>
          <span>Experience</span>
        </div><!--section-header-->
        
      <% @resume.experiences.each do |experience| %>
        <div class="item">
          <h3><%= experience.company_name %></h3>
          <h4><%= experience.designation %></h4>
          <div class="date"><%= experience.start_date %> to <%= experience.end_date %></div>
          <div class="description">
            <p><%= experience.job_description %></p>
          </div>
        </div>
      <% end %>
    </div><!--section-->
  </div><!--content-->
  
  <div class="sidebar">
     <% unless @resume.objective.blank? %>
    <div class="objective">
      <div class="section">
          <div class="section_header">
            <%= wicked_pdf_image_tag 'pdf/dot.jpg', class:"dot" %>
            <span>Professional Profile</span>
          </div><!--section-header-->
      
          <p><%= @resume.objective %></p>
    
    </div><!--objective-->
        <% end %>
      <% if @resume.skills.any? %>
        <div class="section skills">
            <div class="section_header">
              <%= wicked_pdf_image_tag 'pdf/dot.jpg', class:"dot" %>
              <span>Skills</span>
            </div><!--section-header-->
        <% @resume.skills.each do |skill| %>
           <div class="item">
              <h3 class="skill_header"><%= skill.skill %></h3>
                <% unless skill.description.blank? %>
                  <div class="description">
                    <h4><%= skill.description %></h4>
                  </div>
                <% end %>
            </div>
        <% end %>
      </div><!--skills-->
      <% end %>
    
    </div><!--sidebar-->
    </div><!--container-->
      
  </body>
</html>