<section class="row templates">
  <div class="ten columns offset-by-one">
    <%= form_for(:resume, url:choose_template_path, method: :put, html: { id: "choose_template" }) do |f| %>

      <% [ 'elegant', 'simplimo', 'sleek', 'prestige', 'classica'].each_with_index do |theme, index| %>
      
        <div class='box <%= "#{theme}" %>'>
          <%= image_tag "#{theme}_small.jpg" %>
          <%= f.radio_button :layout, theme %>
          <div class="row label_wrapper">
            <%= f.label :layout, theme.humanize, class:"four columns" %>
            <div class="right">
              <a href="#" title="See this template in action" class="preview small button radius" data-template='<%= "#{theme}" %>'>Preview</a>
              <a href="#" title="Use this template" class="use small green button radius">Use this template</a>
            </div>
          </div><!--row-->
        </div><!--box-->
        
        
        <div class='reveal-modal <%= "#{theme}_modal" %>'>
          <h3 class="three columns"><%= theme.humanize %></h3>
          <%= image_tag "#{theme}.jpg" %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
       <% end %>
  
    
     <div class="row actions">
        <div class="four columns centered">
          <%= f.submit "Save and Continue", class:"button large submit radius  green" %>
        </div>
     </div>
      
    <% end %>
    
  </div><!--ten columns-->
</section><!--templates-->


<script>
  $(function()  {
    if('<%= @resume.layout %>') {
      var layout = '<%= @resume.layout %>';
      $("." + layout).addClass("active")
    }
  });
</script>
