<!--
  The woods are lovely, dark, and deep,
  But I have promises to keep,
  And miles to go before I sleep,
  And miles to go before I sleep.
  ~ Robert Frost
-->

<!DOCTYPE html>
<html>
<head>
  <title><%= @resume.user.username.humanize %>'s Resume | Powered by Resumonk - Online Resume Builder</title>
  <meta name="author" content="Bharani M" />
	<meta name="keywords" content="Resume, CV, resume builder, online resume generator, creative resume, online CV builder, professional resume, beautiful resume designs, online resume builder, create beautiful resumes online, desiger resumes, simple resume online, PDF resume">
	<meta name="description" content="">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "basic_pdf", "show_page" %>
  <%= csrf_meta_tags %>

</head>
  <body class="elegant">
    
    <%= render "show_page_header" %>
    
    
    <div class="show_container">
      <%= yield %>
    </div>
  </body>
</html>